<a href="https://colab.research.google.com/github/Dofften/FPL-Oort/blob/main/trial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2022-23/cleaned_players.csv')

In [ ]:
df

,first_name,second_name,goals_scored,assists,total_points,minutes,goals_conceded,creativity,influence,threat,bonus,bps,ict_index,clean_sheets,red_cards,yellow_cards,selected_by_percent,now_cost,element_type
0,Granit,Xhaka,5,5,119,2617,32,608.4,571.6,435.0,11,524,161.6,11,0,4,2.4,48,MID
1,Mohamed,Elneny,0,0,6,111,2,5.4,4.6,0.0,0,27,1.1,0,0,0,0.6,41,MID
2,Rob,Holding,1,0,20,557,13,10.3,149.6,54.0,0,117,21.4,0,0,0,0.2,42,DEF
3,Thomas,Partey,3,0,79,2256,25,404.3,492.0,232.0,6,428,113.0,10,0,4,0.4,47,MID
4,Martin,Ødegaard,12,8,180,2723,35,1001.5,826.2,806.0,25,697,263.6,11,0,4,27.4,66,MID
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
756,Matheus,Santos Carneiro Da Cunha,2,0,34,832,10,79.2,121.8,207.0,6,94,40.4,4,0,1,0.2,53,FWD
757,Mario,Lemina,0,1,25,937,15,54.7,160.4,34.0,0,139,24.9,4,1,2,0.0,45,MID
758,Pablo,Sarabia,1,0,24,695,9,178.0,89.2,148.0,3,54,41.1,2,0,3,0.1,51,MID
759,Daniel,Bentley,0,0,0,0,0,0.0,0.0,0.0,0,0,0.0,0,0,0,0.0,40,GK
760,João Victor,Gomes da Silva,1,0,16,430,8,58.9,119.4,29.0,2,63,20.6,2,0,5,0.0,45,MID

In [ ]:
df2 =  pd.read_csv("https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/cleaned_merged_seasons.csv")
df2

<ipython-input-4-b42e8c781610>:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 =  pd.read_csv("https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/cleaned_merged_seasons.csv")

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,0,2016-17,Aaron Cresswell,DEF,NaN,0,0,0,0,0.0,...,2.0,0.0,0,0,0,0,55,False,0,1
1,1,2016-17,Aaron Lennon,MID,NaN,0,0,6,0,0.3,...,1.0,0.0,1,0,0,0,60,True,0,1
2,2,2016-17,Aaron Ramsey,MID,NaN,0,0,5,0,4.9,...,3.0,23.0,2,0,0,0,80,True,0,1
3,3,2016-17,Abdoulaye Doucouré,MID,NaN,0,0,0,0,0.0,...,1.0,0.0,0,0,0,0,50,False,0,1
4,4,2016-17,Adam Forshaw,MID,NaN,0,0,3,0,1.3,...,1.0,0.0,1,0,0,0,45,True,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98397,98397,2021-22,Wilfred Ndidi,MID,Leicester,0,0,0,0,0.0,...,4.0,0.0,0,-202,22,224,48,True,0,38
98398,98398,2021-22,Matt Ritchie,DEF,Newcastle,0,0,3,0,0.0,...,1.0,0.0,1,143,396,253,49,False,0,38
98399,98399,2021-22,Nathan Redmond,MID,Southampton,0,0,5,0,0.0,...,4.0,0.0,2,455,683,228,59,False,0,38
98400,98400,2021-22,Mathew Ryan,GK,Brighton,0,0,0,0,0.0,...,3.0,0.0,0,-2,0,2,45,True,0,38
98401,98401,2021-22,Ryan Fredericks,DEF,West Ham,0,0,0,0,0.0,...,3.0,0.0,0,36,103,67,44,False,0,38

In [ ]:
df2[df2["position"] == "FWD"]

,Unnamed: 0,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,...,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
12,12,2016-17,Andre Gray,FWD,NaN,0,0,-3,0,2.3,...,0.0,42.0,2,0,0,0,65,True,0,1
14,14,2016-17,Andy Carroll,FWD,NaN,0,0,7,0,17.0,...,2.0,4.0,2,0,0,0,65,False,0,1
16,16,2016-17,Anthony Martial,FWD,NaN,2,3,35,0,37.3,...,1.0,28.0,11,0,0,0,95,False,0,1
18,18,2016-17,Ashley Barnes,FWD,NaN,0,0,0,0,0.0,...,0.0,0.0,0,0,0,0,45,True,0,1
27,27,2016-17,Callum Wilson,FWD,NaN,0,0,-1,0,10.8,...,1.0,9.0,2,0,0,0,65,True,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98365,98365,2021-22,Nathan Young-Coombes,FWD,Brentford,0,0,0,0,0.0,...,1.0,0.0,0,3870,11116,7246,45,True,0,38
98380,98380,2021-22,Halil Dervişoğlu,FWD,Brentford,0,0,0,0,0.0,...,1.0,0.0,0,-4,0,4,54,True,0,38
98386,98386,2021-22,Jordan Hugill,FWD,Norwich,0,0,0,0,0.0,...,0.0,0.0,0,0,0,0,54,True,0,38
98388,98388,2021-22,Nathan Broadhead,FWD,Everton,0,0,0,0,0.0,...,5.0,0.0,0,-3,0,3,45,False,0,38
98393,98393,2021-22,Jack Grieves,FWD,Watford,0,0,0,0,0.0,...,2.0,0.0,0,4094,5073,979,45,False,0,38

In [1]:
import requests , json, csv
import pandas as pd

# Overall FPL league ID, 314 for 2019/20 season.
overallLeageID = 314

# number of GW in 2019/20 season. Done as array to avoid calling api for blank GW 30-38.
gameWeeks = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39]
gameWeek = [4]

# adds the top team ID's to this array
teamIDarray = []

# number of top manager information required.
topManagerNumber = 50

url = "https://fantasy.premierleague.com/api/leagues-classic/"+str(overallLeageID)+"/standings/"

response = requests.get(url)
data = response.text
parsed = json.loads(data)
managerParsed = parsed['standings']['results']

# open 3 files for writing
manager_data = open('top_managers.csv', 'w', newline='', encoding="utf-8")
gw_data = open('top_managers_gwInfo.csv', 'w', newline='', encoding="utf-8")
gw_picks = open('top_managers_gwPicks.csv', 'w', newline='', encoding="utf-8")

# create the 3 csv writer objects
csvwriter1 = csv.writer(manager_data)
csvwriter2 = csv.writer(gw_data)
csvwriter3 = csv.writer(gw_picks)

#get csv of top 15 manager information and write to top_managers.csv
count = 0
for manager in managerParsed:
	if count == 0:
		header = ['rank','entry','player_name','entry_name','total']
		csvwriter1.writerow(header)
		count += 1

	if count <= topManagerNumber:
		csvwriter1.writerow([manager['rank'],manager['entry'],manager['player_name'],
						manager['entry_name'],manager['total']])

		count +=1
		teamIDarray.append(manager['entry'])

# for each teamID in the top 15, call the api and update both top_managers_gwInfo.csv and top_managers_gwPicks.csv
count1 = 0
count2 = 0
for teamID in teamIDarray:
	for x in gameWeek:
		url = "https://fantasy.premierleague.com/api/entry/"+str(teamID)+"/event/"+str(x)+"/picks/"
		response = requests.get(url)
		data = response.text
		parsed = json.loads(data)

		# write data to top_managers_gwInfo.csv
		if count1 == 0:
			header = ['team_id','gw','points','bench','gw_rank','transfers','hits','total_points',
				'overall_ank','team_value','chip']

			csvwriter2.writerow(header)
			count1 += 1
		try:
			csvwriter2.writerow([teamID,x, parsed['entry_history']['points'], parsed['entry_history']['points_on_bench'],
							parsed['entry_history']['rank'], parsed['entry_history']['event_transfers'],
							parsed['entry_history']['event_transfers_cost'], parsed['entry_history']['total_points'],
							parsed['entry_history']['overall_rank'], int(parsed['entry_history']['value'])/10, parsed['active_chip']])
		except:
			continue

		# write data to top_managers_gwPicks.csv
		for i in range(len(parsed['picks'])):
			if count2 == 0:
				header = ['team_id','gw','id','position','multiplier']
				csvwriter3.writerow(header)
				count2 += 1
			csvwriter3.writerow([teamID, x, parsed['picks'][i]['element'], parsed['picks'][i]['position'], parsed['picks'][i]['multiplier']])

manager_data.close()
gw_data.close()
gw_picks.close()

# do some formatting on top_managers_gwPicks by adding the name of the player picked from player_idlist.csv
df = pd.read_csv('top_managers_gwPicks.csv')
df1 = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2022-23/player_idlist.csv')

# merged = df.merge(df1, on=['id'])
# merged.drop('first_name', axis=1, inplace=True)
# merged = merged[['team_id', 'gw', 'second_name', 'id', 'position', 'multiplier']]
# merged.rename({'id': 'player_id'}, axis=1, inplace=True)
# merged=merged.sort_values(by=['team_id', 'gw', 'position'])
# merged.to_csv('top_managers_gwPicks.csv',index=False)

In [2]:
df

     team_id  gw   id  position  multiplier
0    5917983   4  524         1           1
1    5917983   4  195         2           1
2    5917983   4  341         3           1
3    5917983   4  519         4           1
4    5917983   4  532         5           1
..       ...  ..  ...       ...         ...
745  4937472   4  355        11           1
746  4937472   4   28        12           0
747  4937472   4  135        13           0
748  4937472   4   29        14           0
749  4937472   4  436        15           0

[750 rows x 5 columns]

In [3]:
# assuming the original dataframe is named 'df'
top_players_df = pd.DataFrame(columns=['id', 'percentage'])

grouped = df.groupby('id')
total_count = len(df)

for name, group in grouped:
    count = len(group)
    percentage = round((count / total_count)* 100, 2)
    new_row = {'id': name, 'percentage': percentage}
    top_players_df = pd.concat([top_players_df, pd.DataFrame([new_row])], ignore_index=True)
    top_players_df = top_players_df.sort_values('percentage', ascending=False)

top_players_df

     id  percentage
0   355        6.67
1    19        4.53
2   195        4.27
3   108        4.13
4   131        4.00
..  ...         ...
77  523        0.13
76  132        0.13
75  217        0.13
74  196        0.13
81  326        0.13

[107 rows x 2 columns]

In [4]:
num_unique_values = df['id'].nunique()

print("Number of unique values in 'my_column':", num_unique_values)

Number of unique values in 'my_column': 107

In [5]:
players = pd.read_csv('https://raw.githubusercontent.com/vaastav/Fantasy-Premier-League/master/data/2023-24/players_raw.csv')
players

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,clean_sheets_per_90,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,...,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards
0,0,0,0,0,0,0,0.0,232223,None,NaN,...,52,0,10024,0,40246,8100,0.0,0.0,Balogun,0
1,0,0,0,None,None,0,0.0,58822,None,NaN,...,115,0,5170,800,12665,1269,0.0,0.0,Cédric,0
2,0,0,0,0,0,0,0.0,153256,None,NaN,...,169,0,3165,97,8076,525,0.0,0.0,M.Elneny,0
3,3,0,37,None,None,0,0.0,438098,None,NaN,...,73,11,3487,917,5371,543,0.5,2.0,Fábio Vieira,0
4,0,0,23,None,None,0,0.0,226597,None,NaN,...,227,4,126021,14175,1615404,62910,0.2,0.8,Gabriel,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709,0,0,0,None,None,0,0.0,87835,None,NaN,...,180,0,2235,283,10766,1042,0.0,0.0,Doherty,0
710,0,0,0,None,None,0,0.0,231480,None,NaN,...,219,0,109,82,16,13,0.0,0.0,S.Bueno,0
711,0,0,0,None,None,0,0.0,593001,None,NaN,...,282,0,77,60,14,13,0.0,0.0,González,0
712,0,0,0,None,None,0,0.0,531363,None,NaN,...,69,0,440,440,38,38,0.0,0.0,Fraser,0
713,0,0,0,None,None,0,0.0,231057,None,NaN,...,271,0,27,27,2,2,0.0,0.0,Bellegarde,0

In [6]:
players_df = players[["id", "web_name", "now_cost", "event_points", "element_type", "form", "selected_by_percent", "news", "team"]]

In [7]:
players_df

,id,web_name,now_cost,event_points,element_type,form,selected_by_percent,news,team
0,1,Balogun,44,0,4,0.0,0.4,Transferred to Monaco,1
1,2,Cédric,40,0,2,0.0,0.3,NaN,1
2,3,M.Elneny,44,0,3,0.0,0.1,Knee injury - Unknown return date,1
3,4,Fábio Vieira,54,4,3,2.8,0.1,NaN,1
4,5,Gabriel,48,2,2,1.0,14.6,NaN,1
...,...,...,...,...,...,...,...,...,...
709,598,Doherty,44,0,2,0.0,0.2,NaN,20
710,697,S.Bueno,45,0,2,0.0,0.0,NaN,20
711,698,González,50,0,3,0.0,0.0,NaN,20
712,704,Fraser,45,0,4,0.0,0.0,NaN,20
713,715,Bellegarde,50,0,3,0.0,0.0,NaN,20

In [8]:
# merged_df = pd.merge(gw34, players_df, on='id')
merged_df = pd.merge(top_players_df, players_df, on='id')

In [9]:
merged_df

,id,percentage,web_name,now_cost,event_points,element_type,form,selected_by_percent,news,team
0,355,6.67,Haaland,141,20,4,9.8,91.9,NaN,13
1,19,4.53,Saka,87,4,3,6.2,65.7,NaN,1
2,195,4.27,Chilwell,58,1,2,3.8,33.3,NaN,7
3,108,4.13,Mbeumo,68,8,3,8.2,26.9,NaN,4
4,131,4.00,Estupiñan,53,2,2,5.2,64.2,NaN,5
...,...,...,...,...,...,...,...,...,...,...
102,523,0.13,Antonio,61,2,4,4.8,5.5,NaN,19
103,132,0.13,Ferguson,60,17,4,6.2,7.8,Knee injury - 75% chance of playing,5
104,217,0.13,T.Silva,50,2,2,2.8,3.6,NaN,7
105,196,0.13,Chukwuemeka,44,0,3,1.5,1.4,Knee injury - Expected back 23 Sep,7
106,326,0.13,Morris,55,5,4,5.0,1.4,NaN,12

In [10]:
######     Select an FPL Team from top 15 FPL managers ######

# create dictionaries to keep track of the count of rows by team and element_type
team_count = {}
element_count = {1: 0, 2: 0, 3: 0, 4: 0}

# create a list to hold the selected rows
selected_rows = []

# loop through the rows of the dataframe
for i, row in merged_df.iterrows():

    # check if we have already selected 15 rows
    if len(selected_rows) == 15:
        break

    # check if we have already selected 3 rows for this team
    if row['team'] in team_count and team_count[row['team']] >= 3:
        continue

    # check if we have already selected the maximum number of rows for this element_type
    if element_count[row['element_type']] >= {1:2, 2:5, 3:5, 4:3}[row['element_type']]:
        continue

    # add this row to the selected_rows list
    selected_rows.append(row)

    # increment the team_count and element_count dictionaries
    team_count[row['team']] = team_count.get(row['team'], 0) + 1
    element_count[row['element_type']] += 1

# create a new dataframe from the selected_rows list
new_df = pd.DataFrame(selected_rows)

# print the new dataframe
new_df

,id,percentage,web_name,now_cost,event_points,element_type,form,selected_by_percent,news,team
0,355,6.67,Haaland,141,20,4,9.8,91.9,NaN,13
1,19,4.53,Saka,87,4,3,6.2,65.7,NaN,1
2,195,4.27,Chilwell,58,1,2,3.8,33.3,NaN,7
3,108,4.13,Mbeumo,68,8,3,8.2,26.9,NaN,4
4,131,4.00,Estupiñan,53,2,2,5.2,64.2,NaN,5
5,216,4.00,Sterling,72,2,3,6.2,16.4,NaN,7
6,519,3.47,Udogie,47,5,2,5.8,13.4,NaN,18
7,504,3.20,Maddison,78,7,3,7.2,26.2,NaN,18
8,343,3.07,J.Alvarez,67,14,4,7.0,13.4,NaN,13
9,211,2.67,N.Jackson,72,1,4,2.5,19.7,NaN,7
10,396,2.53,Rashford,89,7,3,4.8,35.9,NaN,14
11,352,2.40,Ederson M.,56,3,1,4.2,20.9,NaN,13
13,28,2.40,Turner,40,5,1,3.0,14.1,NaN,16
15,103,2.00,Henry,46,1,2,3.0,7.0,NaN,4
16,29,2.00,White,55,2,2,2.8,8.9,NaN,1

In [11]:
new_df.to_csv("top_team.csv")

In [6]:
import requests
import pandas as pd
import json
# Fetch the game data once and use it across the application
try:
    game_data = requests.get("https://fantasy.premierleague.com/api/bootstrap-static/").json()
except requests.exceptions.RequestException as e:
    print(e)
    game_data = None
def get_game_data():
    """Retrieve the gw-by-gw data

    credit: vaastav/Fantasy-Premier-League/getters.py

    """
    return game_data
def get_player_data():
    return pd.DataFrame(get_game_data()["elements"])

In [7]:
def get_team_data(entry_id, gameweek):
    """Retrieve the gw-by-gw data for a specific entry/team

    credit: vaastav/Fantasy-Premier-League/getters.py

    Args:
        entry_id (int) : ID of the team whose data is to be retrieved
        gameweek (int) : Specific gameweek
    """
    base_url = "https://fantasy.premierleague.com/api/entry/"
    full_url = base_url + str(entry_id) + "/event/" + str(gameweek) + "/picks/"
    response = requests.get(full_url)
    response.raise_for_status()
    data = response.json()
    team_picks = pd.DataFrame(data["picks"])
    team_picks = team_picks.merge(
        get_player_data()[
            ["id", "web_name", "now_cost", "event_points", "element_type", "form", "selected_by_percent", "news", "team"]
        ],
        left_on="element",
        right_on="id",
    )
    return team_picks

In [65]:
gameWeek = [4]

# adds the top team ID's to this array
teamIDarray = []

# number of top manager information required.
topManagerNumber = 50

url = "https://fantasy.premierleague.com/api/leagues-classic/314/standings/"

response = requests.get(url)
data = response.text
parsed = json.loads(data)
managerParsed = parsed['standings']['results']


final_dataframe = pd.DataFrame()

#get csv of top 15 manager information and write to top_managers.csv
count = 0
for manager in managerParsed:
        count +=1
        teamIDarray.append(manager['entry'])

# for each teamID in the top 15, call the api and update both top_managers_gwInfo.csv and top_managers_gwPicks.csv
count1 = 0
count2 = 0
for teamID in teamIDarray:
    for x in gameWeek:
        # Call the get_team_data function
        team_data = get_team_data(teamID, x)

        # Append the team_data to the final_dataframe
        final_dataframe = pd.concat([final_dataframe, team_data])

In [66]:
final_dataframe

,element,position,multiplier,is_captain,is_vice_captain,id,web_name,now_cost,event_points,element_type,form,selected_by_percent,news,team
0,524,1,1,False,False,524,Areola,41,2,1,5.0,28.4,,19
1,195,2,1,False,False,195,Chilwell,58,1,2,3.8,33.2,,7
2,341,3,1,False,False,341,Akanji,51,2,2,3.8,8.7,,13
3,519,4,1,False,False,519,Udogie,47,5,2,5.8,13.6,,18
4,532,5,1,False,False,532,Emerson,45,1,2,2.0,0.8,,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,355,11,1,False,True,355,Haaland,141,20,4,9.8,91.9,,13
11,28,12,0,False,False,28,Turner,40,5,1,3.0,14.1,,16
12,135,13,0,False,False,135,João Pedro,55,2,4,2.5,14.7,,5
13,29,14,0,False,False,29,White,55,2,2,2.8,8.9,,1
14,436,15,0,False,False,436,Aurier,45,6,2,4.2,2.0,,16

In [67]:
final_dataframe2 = final_dataframe

In [68]:
final_dataframe2.head(15)

,element,position,multiplier,is_captain,is_vice_captain,id,web_name,now_cost,event_points,element_type,form,selected_by_percent,news,team
0,524,1,1,False,False,524,Areola,41,2,1,5.0,28.4,,19
1,195,2,1,False,False,195,Chilwell,58,1,2,3.8,33.2,,7
2,341,3,1,False,False,341,Akanji,51,2,2,3.8,8.7,,13
3,519,4,1,False,False,519,Udogie,47,5,2,5.8,13.6,,18
4,532,5,1,False,False,532,Emerson,45,1,2,2.0,0.8,,19
5,19,6,1,False,False,19,Saka,87,4,3,6.2,65.7,,1
6,108,7,1,False,False,108,Mbeumo,68,8,3,8.2,27.0,,4
7,216,8,1,False,True,216,Sterling,72,2,3,6.2,16.4,,7
8,509,9,1,False,False,509,Richarlison,68,1,3,1.5,2.0,,18
9,343,10,1,False,False,343,J.Alvarez,67,14,4,7.0,13.6,,13
10,355,11,2,True,False,355,Haaland,141,20,4,9.8,91.9,,13
11,145,12,0,False,False,145,Sanchez,45,2,1,3.0,5.4,,7
12,60,13,0,False,False,60,Watkins,80,2,4,4.2,21.5,,2
13,396,14,0,False,False,396,Rashford,89,7,3,4.8,35.8,,14
14,103,15,0,False,False,103,Henry,46,1,2,3.0,6.9,,4